<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Return index.html for direct requests or unknown files/folders
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

# Ensure proper MIME types for CSS and JS
<IfModule mod_mime.c>
  AddType text/css .css
  AddType application/javascript .js .mjs
</IfModule>
